body{
  background: linear-gradient(135deg,#05273D,#0A3B5B);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:'Poppins',sans-serif;
}

.card-box{
  width:420px;
  background:#ffffff;
  padding:40px;
  border-radius:25px;
  box-shadow:0 25px 60px rgba(0,0,0,0.25);
}

.card-box h3{
  font-weight:700;
  color:#05273D;
}

.btn-main{
  background:#FF7A3D;
  color:white;
  border-radius:40px;
  padding:12px;
  font-weight:600;
  transition:0.3s;
}

.btn-main:hover{
  background:#0A3B5B;
  color:white;
}

.error{
  color:#dc3545;
  font-size:14px;
  text-align:left;
}

a{
  text-decoration:none;
  color:#FF7A3D;
  font-weight:600;
}